<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    
</head>
<body>
    <div id="root">
        <!-- valueOne -->
        <label for="plateOne"> Frist input range {{ valueOne}}</label>
        <input type="range" name="plateOne" id="plateOne" min=0 :max="maxValueOne" v-model="valueOne" @change="movingPlateOne()">
        <button @click="getInstantWeight()" >hit me</button>
        <!-- valueOne -->
        <br>
        <!-- valueTwo -->
        <label for="plateOne"> Second input range {{ valueTwo}}</label>
        <input type="range" name="plateOne" id="plateOne" min=0 :max="maxValueTwo" v-model="valueTwo" @change="movingPlateTwo()">
        <!-- valueTwo -->
    </div>

    
    <script src="script.js"></script>
</body>
</html>